/* Police caractère du nom du club */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
/* Police de caractère du slogan du club */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


body {
    width: 100%;
    margin: 0;
    position: absolute;
}

header {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.logo {
    width: 150px;
    height: 150px;
}

.nom_club {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.club {
    margin: 0;
    color: rgb(167, 83, 35);
    font-weight: bold;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

.slogan {
    margin: 0;
    color: white;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
}

nav {
    width: 30%;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

nav ul li {
    display: inline;
    padding: 15px;
    font-weight: bold;
    font-size: 2em;
}